{% extends 'AppBundle:Front:layout.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li class="active">Best snowboarders</li>
        </ul>

        <h1>Best snowboarders <small>({{ snowboarders|length }} riders, click to view details)</small></h1>
        <div class="row">
            {% for snowboarder in snowboarders %}
                <div class="col-md-3">
                    <a href="{{ path('snowboarders_show', {'id': snowboarder.id}) }}">
                        <div class="item-image">
                            {% if snowboarder.thumbnail %}
                                <img src="{{ snowboarder.thumbnail }}" alt="{{ snowboarder.name }}" class="img-responsive">
                            {% else %}
                                <img src="{{ asset('assets/img/snowboarder-default.jpg') }}" alt="{{ snowboarder.name }}" class="img-responsive">
                            {% endif %}
                        </div>
                        <div class="item-content">
                            <div class="item-text">
                                {{ snowboarder.name }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}