{% extends 'AppBundle:Front:layout.html.twig' %}

{% block body %}
    <div class="col-md-12">

        <ul class="breadcrumb">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('snowboarders_all') }}">Best snowboarders</a></li>
            <li class="active">{{ snowboarder.name }}</li>
        </ul>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <img src="{{ snowboarder.thumbnail }}" alt="{{ snowboarder.name }}" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-8">
                <h3>{{ snowboarder.name }}</h3>
                <p>{{ snowboarder.description }}</p>
                <p>More details on <a href="http://en.wikipedia.org/?curid={{ snowboarder.wikiID }}">wikipedia</a></p>
            </div>
        </div>

    </div>
{% endblock %}