<li>
    <!-- begin post-left-info -->
    <div class="post-left-info">
        <div class="post-date">
            <span class="day">{{ article.createdAt|localizeddate('medium', 'none', null, null, 'd') }}</span>
            <span class="month">{{ article.createdAt|localizeddate('medium', 'none', null, null, 'MMM') }}</span>
        </div>
    </div>
    <!-- end post-left-info -->
    <!-- begin post-content -->
    <div class="post-content">
        <!-- begin post-image -->
        <div class="post-image">
            <a href="{{ path('front_article_show', {'slug': article.slug}) }}">
                <img src="{{ asset('images/' ~ article.imageName) }}" alt="">
            </a>
        </div>
        <!-- end post-image -->
        <!-- begin post-info -->
        <div class="post-info">
            <h4 class="post-title">
                <a href="{{ path('front_article_show', {'slug': article.slug}) }}">{{ article.title }}</a>
            </h4>
            <div class="post-by">
                Posted at {{ article.createdAt|localizeddate('medium', 'none', null) }}
                <span class="divider">|</span>
                {{ article.category.name }}
                <span class="divider">|</span>
                {{ article.comments.count() }} Comments
            </div>
            <div class="post-desc">
                {{ article.description|truncate(200, true, '...')|raw}}
            </div>
        </div>
        <!-- end post-info -->
        <!-- begin read-btn-container -->
        <div class="read-btn-container">
            <a href="{{ path('front_article_show', {'slug': article.slug}) }}">Read More <i class="fa fa-angle-double-right"></i></a>
        </div>
        <!-- end read-btn-container -->
    </div>
    <!-- end post-content -->
</li>