{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
    <!-- begin PAGE TITLE AREA -->
    <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- end PAGE TITLE AREA -->

    <!-- begin DASHBOARD CIRCLE TILES -->
    <div class="row">
        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading blue">
                        <i class="fa fa-tasks fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content blue">
                    <div class="circle-tile-description text-faded">
                        Articles
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{ articles|length }}
                        <span id="sparklineB"></span>
                    </div>
                    <a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading red">
                        <i class="fa fa-picture-o fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content red">
                    <div class="circle-tile-description text-faded">
                        Categories
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{ categories|length }}
                        <span id="sparklineC"></span>
                    </div>
                    <a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading purple">
                        <i class="fa fa-comments fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content purple">
                    <div class="circle-tile-description text-faded">
                        Comments
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{ comments|length }}
                        <span id="sparklineD"></span>
                    </div>
                    <a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Comments to approved</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Author</th>
                                <th>Comment</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in commentsToApproved %}
                                <tr>
                                    <td>{{ comment.username }}</td>
                                    <td>{{ comment.comment }} </td>
                                    <td>{{ comment.date|localizeddate('medium', 'none', null) }}</td>
                                    <td>
                                        <a href="{{ path('comment_edit', { 'id': comment.id }) }}" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                        <a href="{{ path('front_article_show', {'slug': comment.article.slug}) }}" class="btn btn-success"><i class="fa fa-eye"></i> Show post</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.portlet -->
        </div>
    </div>
{% endblock %}